<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.unpkg.com/wysimark-standalone/dist/javascript/index.cjs.js"></script>
    <title>Edition</title>
</head>
<body>
    <div id="editor-container"></div>

    <script>
        const container = document.getElementById("editor-container")
        const wysimark = createWysimark(container, {initialMarkdown: "Write your doc here",})
    </script>
</body>
</html>