{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src= {% static "writing/script.js" %}  defer="true"></script>
    <link rel="stylesheet" href={% static "writing/style.css" %}>
    <title>{{ queried_document.name }}</title>
</head>
<body>
    <div id="writing-flex-container">
        <span id="markdown_content" class="editor-subview" contenteditable="true">
            {{queried_document.data}}
        </span>
        <div id="markdown_preview" class="editor-subview"></div>
    </div>
</body>
</html>
