<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome {{ user.first_name }} {{ user.last_name }} @ {{ user.username }}</p>
    
    <form action="{% url "connection:disconnect" %}" method="post">
        {% csrf_token %}
        <button type="submit">Disconnect</button>
    </form>

    <form action="{%url "writing:document_create" %}" method="post">
        {% csrf_token %}
        <button type="submit">Create</button>
    </form>

    {% for document in authorized_document_list %}
    
    <a href="{% url "writing:document_edition" document.id  %}"> {{ document.name }} </a>

    {% endfor %}

</body>
</html>